[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Systemmanager
Exec=/usr/local/bin/moba-systemmanager
Comment=Systemmanager
Icon=moba-systemmanager
Terminal=false
Categories=System
StartupWMClass=org.moba.systemmanager

